{% extends 'Offer/base.html' %}

{% block title %}Контакты{% endblock %}


{% block greetings %}
{% include 'Offer/greetings.html' %}
{% endblock %}

{% block content %}
<div class="row g-5">
	<div class="col-md-6 sm-links">
		<ul class="my-5">
			<li class="my-2"><a href="https://github.com/ChehST">GitHub</a></li>
			<li class="my-2"><a href="https://t.me/chehsk">Telegram</a></li>
			<li class="my-2"><a href="https://instagram.com/sergeycheh">instagram</a></li>
			<li class="my-2">Или воспользуйтесь формой отправки почты...</li>
		</ul>
	</div>
	<div class="col-md-6">
		{% include 'Offer/mailto.html' %}
	</div>
</div>
{% endblock %}