 <div class="container greetings">
    <div class="row">

      <div class="col-md-4 info-cont">
        <div class="info-bgcard text-light">
          <h2 class="display-2">Приветствую!</h2>
          <p class="my-3">У сам себе сделал сайт - потому что могу. Тут просто должно быть что-то написано. Я пока не знаю зачем тут этот серый прямоугольник, по-идее тут должна быть цитата описывающая меня как человека. Пока что я думаю над функциональностью элементов сайта. Однако, знайте то, что я всё таки могу сделать сайт)</p>
        </div>
      </div>
      <div class="col-md-8 pictureHead"></div>
    </div>
  </div>