{% extends 'Offer/base.html' %}

{% block title %}О Чехе{% endblock %}

{% block greetings %}
{% include 'Offer/greetings.html' %}
{% endblock %}

{% block content %}
    <div class="wrap-cont">
        <div class="row g-5">
            <div class="col-md-4">Picture Here</div>
            <div class="col-md-8">
                <p class="my-3">Мне всегда в детстве нравились конструктор. За его идею. Из множества разных фигур, из которых каждая по отдельности не представляет никакого интереса, можно собрать нечто, что может забавлять</p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <p class="my-3">Мне всегда в детстве нравились конструктор. За его идею. Из множества разных фигур, из которых каждая по отдельности не представляет никакого интереса, можно собрать нечто, что может забавлять</p>
            </div>
            <div class="col-md-4">Picture Here</div>
        </div>
        <div class="row g-5">
            <div class="col-md-6">Picture Here</div>
            <div class="col-md-6">
                <p class="my-3">Мне всегда в детстве нравились конструктор. За его идею. Из множества разных фигур, из которых каждая по отдельности не представляет никакого интереса, можно собрать нечто, что может забавлять</p>
            </div>
        </div>
    </div>
{% endblock %}

