{% extends 'Offer/base.html' %}

{% block title %}О Чехе{% endblock %}

{% block greetings %}
{% include 'Offer/greetings.html' %}
{% endblock %}

{% block content %}
    <h1 class="text-center">Зачем мне нужен сайт и кто я такой?</h2>
    <p class="my-3">Меня зовут Сергей, мне 24 года, крайние 3 из которых я потратил на армию. Теперь когда я уволился я решил освежить память реализовать идею о занятии разработки сайтов. По сути своей сайт - это моё портфолио как web-разработчика, однако в дальнейшем я стану серьёзным дядей и наведу здесь культурный порядок. К тому времени тут будут проекты не только в рамках веб разработок, но и  прочие идею которые мне интересны к развтию.</p>
{% endblock %}