
{% block mailto %}
<div class="container alima my-5" style="width: 400px;">
  <h2>Свяжитесь со мной</h2>
  <form method="post" class="row">{% csrf_token %}    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ваш Email, чтобы я cмог вам ответить</label>
      {{ form.m_address }}
    </div>
    <div class="form-group field-crq_msg required has-error">
      <label class="control-label" for="crq_msg">Напечатайте ваше сообщение:</label>
      {{ form.m_text }}
    </div>
  <button type="submit" class="btn g-recaptcha btn-primary ms-3" data-sitekey="6LdNF_AgAAAAAL1n-uB4_VfHOVUhjGDQfmZ0SF8y" data-callback='onSubmit' data-action='submit'>Submit</button>
  <span>{{ error }}</span>
  </form>
</div>
{% endblock %}